.h1-animal-page {
	font-family: "cattyfont";
	font-weight: 200;
	align-self: center;
	font-size: 3rem;
}

/* --------styles for btn BackToTop-------- */
.btn-back-to-top {
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 1000px;
	right: 20px;

	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--btn-primary-color);
	border: none;
	font-weight: 600;
	box-shadow: 0px 0px 0px 2px rgba(170, 68, 101, 0.6);
	cursor: pointer;
	transition-duration: 0.3s;
	overflow: hidden;
}

.btn-back-to-top > picture {
	display: flex;
	justify-content: center;
	align-items: center;
}

body .go-up-button {
	top: 90vh;
}

.svgIcon {
	width: 32px;
}

.svgIcon path {
	fill: var(--accent-bg-color);
}

.btn-back-to-top::before {
	position: absolute;
	bottom: -20px;
	content: "Volver a arriba";
	color: var(--bg-color);
	font-size: 0px;
}
/* --- filters form ----- */

.filters-mobile-section-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.div-btn-open-close-filters {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 4rem;

	position: relative;
}

.btn-open-close-filter-container {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	min-width: 8rem;
}

.filters-counter-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	background-color: var(--accent-bg-color);
	padding: var(--spacing-xs);
	border-radius: var(--border-card);
}

.icon-filter-container {
	width: 40px;
}

.icon-filter-container,
.icon-filter-container picture {
	display: flex;
	justify-content: center;
	align-items: center;
}

.expand-filters-menu {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.pet-filters-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.filter-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.filter-container select {
	background-color: var(--accent-bg-color);
	color: var(--secondary-text-color);
	outline: none;
	border: none;
	padding: var(--spacing-xs);
}

.btns-form-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	padding: 0 var(--spacing-lg);
}

.btn-reset-filters {
	background: var(--btn-secondary-color);
}

/* -------- pataamigos cards container ------ */

.pataamigos-cards-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	padding: 0 var(--spacing-2xl);
}

.card-pet-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	border-radius: var(--border-card);
	padding: var(--spacing-lg);
	background-color: var(--accent-bg-color);
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

.card-pet-container span,
.card-pet-container h5 {
	color: var(--secondary-text-color);
}

.image-pet-container {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
}

.image-pet-container img {
	border-radius: var(--border-card);
}

.information-pet-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.name-pet-container,
.genre-pet-container {
	display: flex;
	align-items: center;
	align-self: center;
	gap: 0.5rem;
}

.div-button-container {
	display: flex;
	justify-content: center;
}

.btn-know-pet {
	background-color: var(--btn-secondary-color);
}

/* ----- expanded card 'section' ----- */
.expand-pet-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	border-radius: var(--border-card);
	padding: var(--spacing-lg);
	background-color: var(--accent-bg-color);
}

.expand-pet-container p {
	color: var(--primary-text-color);
}

.h2-pet-title {
	font-family: "cattyfont";
	font-weight: 200;
	align-self: center;
	font-size: 3rem;
}

.details-pet-information-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.p-age-pataamigo,
.p-genre-pataamigo,
.p-sterilized-pataamigo,
.p-vaccines-pataamigo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.p-description-pataamigo,
.p-personality-pataamigo,
.p-advice-pataamigo {
	display: flex;
	flex-direction: column;
}

.details-pet-btns-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.details-pet-btns-adopt-sponsor-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.btn-adopt-pet,
.btn-sponsor-pet {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.btn-sponsor-pet {
	background-color: var(--btn-secondary-color);
}

.btn-go-back {
	color: var(--secondary-text-color);
	background-color: var(--btn-xtra-color);
}

/*  -------- adopt form modal -------- */
.bg-modal {
	display: flex;
	flex-direction: column;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	padding: var(--spacing-2xl);
	background-color: var(--bg-color);
}

.modal {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	flex: 1;

	background-color: var(--accent-bg-color);
	padding: var(--spacing-sm);
	border-radius: var(--border-card);
	overflow-y: auto;
}

.modal h2 {
	text-align: center;
	font-size: 1.2rem;
	font-family: "bodyfont", "poppins";
}

.adopt-form-contaier {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 1.5rem;
}

.input-adopt-container {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.input-adopt-container > input,
.input-adopt-container > select {
	color: var(--primary-text-color);
	background-color: var(--bg-color);
	outline: none;
}
.input-adopt-container > input::placeholder {
	color: var(--primary-text-color);
}

.btns-adopt-form-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.btn-reject-adopt-form {
	color: var(--secondary-text-color);
	background-color: var(--btn-xtra-color);
}

/* ----- sponsor modal ------ */
.modal-for-sponsor {
	gap: 0rem;
}

.sponsor-form-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 0.5rem;
}

.input-sponsor-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 0.5rem;
}

.input-sponsor-container > input,
.input-sponsor-container > select,
.input-sponsor-container > textarea {
	color: var(--primary-text-color);
	background-color: var(--bg-color);
	outline: none;
}

.input-sponsor-container > input::placeholder,
.input-sponsor-container > textarea::placeholder {
	color: var(--primary-text-color);
}

.sponsor-btns-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.btn-reject-sponsor-form {
	color: var(--secondary-text-color);
	background-color: var(--btn-xtra-color);
}
/* ----- RESPONSIVE - ANIMAL.HTML ----- */

@media (min-width: 481px) {
	.pataamigos-cards-container {
		padding: 0 var(--spacing-4xl);
	}

	.information-pet-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}

	.name-pet-container,
	.genre-pet-container {
		justify-content: center;
		flex: 1 0 45%;
		gap: 1rem;
	}

	/* ----- expanded card 'section' ----- */
	.expand-pet-container {
		padding: var(--spacing-2xl);
	}

	.details-pet-information-container {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.details-pet-btns-adopt-sponsor-container {
		justify-content: center;
		flex-direction: row;
		gap: 1rem;
	}

	.btn-adopt-pet {
		flex: 1;
	}

	.btn-sponsor-pet {
		flex: 1;
	}

	/* ------- adopt and sponsor form ------- */
	.modal {
		align-self: center;
		max-width: 600px;
	}
}

@media (min-width: 1024px) {
	/* --------styles for btn BackToTop-------- */
	.btn-back-to-top {
		width: 60px;
		height: 60px;
	}

	body .go-up-button {
		top: 90vh;
	}

	.svgIcon {
		width: 40px;
	}

	.btn-back-to-top:hover {
		width: 140px;
		border-radius: 50px;
		transition-duration: 0.3s;
		background-color: var(--btn-xtra-color);
		align-items: center;
	}

	.btn-back-to-top:hover .svgIcon {
		transition-duration: 0.3s;
		transform: translateY(-300%);
	}

	.btn-back-to-top:hover::before {
		font-size: 13px;
		opacity: 1;
		bottom: unset;
		transition-duration: 0.3s;
	}

	/* ------ pataamigos cards container ------ */

	.pataamigos-cards-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 0 var(--spacing-2xl);
	}

	.card-pet-container {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		max-height: 600px;
	}

	.image-pet-container {
		height: 400px;
		overflow: hidden;
	}

	.image-pet-container img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		border-radius: var(--border-card);
	}

	.information-pet-container {
		flex: 1 0 auto;
	}

	/* ----- expanded card 'section' ----- */
	.expand-pet-container {
		margin: 0 var(--spacing-2xl);
	}

	.expand-pet-container .image-pet-container {
		height: 500px;
	}

	.details-pet-information-container {
		gap: 1rem;
	}

	.p-age-pataamigo,
	.p-genre-pataamigo,
	.p-sterilized-pataamigo,
	.p-vaccines-pataamigo {
		justify-content: center;
	}

	.p-description-pataamigo,
	.p-personality-pataamigo,
	.p-advice-pataamigo {
		text-align: center;
	}

	/* ----- adopt and sponsor form ------ */

	.btns-adopt-form-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 1rem;
	}
}

@media (min-width: 1440px) {
	.pataamigos-cards-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding: 0 var(--spacing-2xl);
	}

	.information-pet-container {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.name-pet-container,
	.genre-pet-container {
		flex: 0;
	}

	.expand-pet-container .image-pet-container {
		height: 600px;
	}
}
