/* ------- ESTILOS PARA LA CASETA DE PERFIL ---------- */

.house-dog-container-toloco {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100px;
}

#svg-dog-house {
    z-index: 2;
}

#door-house-dog {
    position: absolute;
    right: 0;
    bottom: 14%;
    left: 0;
    z-index: 0;

    height: 80%;
}

#nombre {
	font-size: 22px;
	fill: #45190b;
    font-family: "bodyfont";
}
