*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

@font-face {
	font-family: "doggyfont";
	src: url(/fonts/DoggySmart-j99j0.ttf) format("truetype");
}
@font-face {
	font-family: "cattyfont";
	src: url(/fonts/Meows-VGWjy.ttf) format("truetype");
}
@font-face {
	font-family: "bunnyfont";
	src: url(/fonts/BunnyHoliday-vnGEE.ttf) format("truetype");
}
@font-face {
	font-family: "bodyfont";
	src: url(/fonts/CsWagnerRegularDemo-nA5MR.otf) format("opentype");
}

html,
body {
	font-family: "Roboto", "Poppins", Helvetica,"bodyfont", "doggyfont", "cattyfont", "bunnyfont", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}

html,
body {
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
body {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

input {
	outline: none;
	padding: var(--spacing-xs);
}

body {
	display: flex;
	flex-direction: column;
}

.body-container {
	flex: 1;

	position: relative;
}

:root {
	--bg-color: #e0b7b7;
	--accent-bg-color: #aa4465;
	--primary-text-color: #2f2f2f;
	--secondary-text-color: #e0b7b7;
	--links-text-color: #94bfa7;
	--btn-primary-color: #ffc43d;
	--btn-secondary-color: #cd8028;
	--btn-xtra-color: #6a2e0c;

	--font-size-html: 14px;

	--spacing-xs: 4px;
	--spacing-sm: 8px;
	--spacing-md: 12px;
	--spacing-lg: 16px;
	--spacing-2xl: 36px;
	--spacing-4xl: 60px;

	--border-card: 4px;
	--border-btn: 32px;

	--container-width: 95%;
}

html {
	font-size: var(--font-size-html);
}

h1 {
	display: flex;
	align-items: flex-end;
	gap: 1rem;

	color: var(--primary-text-color);
	font-weight: 900;
}

h2 {
	font-size: 1.4rem;
	color: var(--primary-text-color);
}

h3 {
	font-size: 1.3rem;
	color: var(--primary-text-color);
	font-family: "bodyfont";
}

h4 {
	font-size: 1.2rem;
	color: var(--primary-text-color);
	font-family: "bodyfont";
}

h5 {
	font-size: 1.1rem;
	color: var(--primary-text-color);
}

h6 {
	font-size: 1rem;
	color: var(--primary-text-color);
	font-family: "bodyfont";
}

p,
a,
span,
input,
button {
	font-size: 1rem;
	font-weight: 100;
}

small {
	font-size: 0.7rem;
}

.span-p,
.span-a,
.span-v,
.span-e,
.span-r,
.span-s {
	font-family: "cattyfont", "poppins";
}

.span-t {
	font-family: "bunnyfont", "poppins";
	font-weight: 100;
}

.span-o {
	font-family: "doggyfont", "poppins";
	text-transform: uppercase;
}

.pataverso-word .pata-letter {
	display: inline-block;
	font-size: 3.5rem;
	line-height: 1;
	vertical-align: bottom;
}

.pata-title-nav .pata-letter {
	font-size: 1.6rem;
}

.landing-word .pata-letter {
	font-size: 2.2rem;
}

img {
	width: 100%;
}

a {
	color: var(--links-text-color);
}

label {
	color: var(--primary-text-color);
}

button:hover {
	cursor: pointer;
}

.btn-style {
	border: none;
	border-radius: var(--border-btn);
	color: var(--primary-text-color);
	background-color: var(--btn-primary-color);
	padding: var(--spacing-sm);
	transition: all 0.2s ease-in-out;
}

.btn-style:hover {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.95);
}

.btn-style:active {
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.container {
	width: var(--container-width);
	margin: 0 auto;
}

.dont-show {
	display: none !important;
}

.not-on-desktop {
	display: flex;
}

.only-on-desktop {
	display: none;
}

.body-container {
	display: flex;
	flex-direction: column;
}

/* ----LOGIN SECTION------ */
.login-section-bg {
	display: flex;
	justify-content: center;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	padding: var(--spacing-lg);
	background-color: var(--bg-color);
}

.login-section-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 1rem;

	background-color: var(--accent-bg-color);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
	padding: var(--spacing-md);
	border-radius: var(--border-card);
}

.login-section-logo-container {
	align-self: center;

	width: 160px;
}

.login-section-logo-container,
.login-section-logo-container picture {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-login-screen {
	align-self: center;

	/* color: var(--primary-text-color);
	font-size: 3rem; */
}

.btns-select-forms-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
/* BUTTONS LOGINS STYLES */
.btn-login-screen {
	padding: var(--spacing-sm);
	border: none;
	background-color: var(--btn-primary-color);
	border-radius: var(--border-btn);
	color: var(--primary-text-color);
}

.btn-login-screen:hover {
	background-color: var(--btn-secondary-color);
	transition-duration: 0.2s;
	color: var(--secondary-text-color);
	box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.95);
}

.selected-btn-form {
	background-color: var(--btn-secondary-color);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.95);
	color: var(--secondary-text-color);
}

.forms-container {
	display: flex;
	flex-direction: column;
}

.form-login-user,
.form-register-user {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	visibility: hidden;
	height: 0;
}

.selected-login-form {
	height: auto;
	visibility: visible;
}

.email-login-container,
.password-login-container,
.name-register-container,
.email-register-container,
.password-register-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	color: var(--primary-text-color);
}

.small-privacy-policy-terms {
	color: var(--primary-text-color);
}

.small-privacy-policy-terms a {
	font-size: 0.7rem;
}

.checkbox-newsletter-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	color: var(--primary-text-color);
}

.div-walking-dog-bg {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	position: fixed;
	/* top: 0; */
	right: 0;
	bottom: 0;
	left: 0;
}

@keyframes walk {
	0% {
		transform: translateX(-120px);
	}
	100% {
		transform: translateX(1024px);
	}
}

.walking-dog-gif-container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 80px;
	animation: walk 12s linear forwards infinite;
}

/* -------- header ------- */
#header {
	display: flex;
	justify-content: center;
	background-color: var(--accent-bg-color);

	position: relative;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

	padding: var(--spacing-sm) 0;
}

.logo-header-container {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.logo-image-container {
	width: 80px;
}

.logo-image-container:hover {
	cursor: pointer;
}

.logo-image-container:active {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.95);
	border-radius: var(--border-card);
}

.logo-image-container,
.logo-image-container picture {
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-burger-menu-container {
	width: 80px;
}

.image-burger-menu-container,
.image-burger-menu-container picture {
	display: flex;
	justify-content: center;
	align-items: center;
}

#mobile-navigator {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;

	position: absolute;
	top: 0;
	right: -200%;
	z-index: 10;

	padding: var(--spacing-md);
	background-color: var(--accent-bg-color);
	border-bottom-left-radius: var(--border-card);
	transition: all 0.3s ease-in-out;
}

.pop-up-mobile-nav {
	right: 0 !important;
}

.mobile-nav-links-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.mobile-nav-links-container span,
.mobile-nav-links-container .pataamigos-rescued-container {
	color: var(--primary-text-color);
}

.perrichuchos-nav-container,
.gaticornios-nav-container,
.conejaurios-nav-container,
.cerrar-sesion,
.pataamigos-rescued-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;

	padding: var(--spacing-sm);
}

.pataamigos-rescued-container {
	min-height: 40px;
}

.icon-nav-container {
	width: 100px;
}

.icon-nav-container,
.icon-nav-container picture {
	display: flex;
	justify-content: center;
	align-items: center;
}

.perrichuchos-nav-container:active,
.gaticornios-nav-container:active,
.conejaurios-nav-container:active,
.cerrar-sesion:active,
.pataamigos-rescued-container:active {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.95);
	border-radius: var(--border-card);
}

.cerrar-sesion {
	background: none;
	border: none;
}

.btn-closing-mobile-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: flex-start;

	border: none;
	background: none;
	padding: 0;
}

.btn-closing-mobile-nav:active {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.95);
	border-radius: var(--border-card);
}

.btn-closing-mobile-nav-icon-container {
	width: 60px;
}

.btn-closing-mobile-nav-icon-container,
.btn-closing-mobile-nav-icon-container picture {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ------ main ------- */
#main {
	display: flex;
	flex-direction: column;
	flex: 1;

	background-color: var(--bg-color);
	padding: var(--spacing-2xl) 0;
}

.main-container {
	display: flex;
	flex-direction: column;

	gap: 2rem;
}

.image-homepage-container {
	align-self: center;

	height: 250px;
	width: 250px;
	background-color: var(--accent-bg-color);
	padding: var(--spacing-md);
	border-radius: 50%;
}

.image-homepage-container,
.image-homepage-container picture {
	display: flex;
	justify-content: center;
	align-items: center;
}

.welcome-message-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* ----- footer ----- */
#footer {
	display: flex;
	flex-direction: column;

	background-color: var(--accent-bg-color);
}

.footer-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 1.5rem;

	padding: var(--spacing-md) 0;
}

.footer-links-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.help-links-list,
.credits-list,
.help-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.footer-container small {
	align-self: center;
}
